.App {
  text-align: center;
  background-color: rgb(127, 197, 255);
  width:100%;
  min-height:100vh;
}

.addbtn{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

.textInput{
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}

.todoCard{
  color: rgb(25, 23, 23);
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

.complete{
  background-color: aquamarine;
}

.photo{
  height:50px;
  width:50px;
  background-color: rgba(255,255,255,.5);
}
